.hero-section {
  position: relative;
  height: 55vh;
  display:flex;
  justify-content: center;
  align-items:flex-start;
  background-image:url('../src/assets/hero-img.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




.title{
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  
}

.title h1 {
  font-weight: 500;
  line-height: 1.2;
  color: white;
  margin-bottom: 0.5rem;
  
}

.title p {
  color: white;
  font-size: 1.8rem;
  margin-top: 0.5rem;
  text-align: center;
  
}


/* Desktops and laptops: 1024px and up */
@media screen and (min-width: 1024px){
  .hero-section {
      height: 30rem;
    
    }
  
  .title h1 {
    font-size: 4.0rem;
    width: 800px;
  }

  .title p {
    font-size: 1.4rem;
    width: 750px;
    margin-bottom: -5px;
  }
}

/* Tablets and small laptops: 768px to 1023px */
@media screen and (max-width: 1023px){
 

  
  .title h1 {
    font-size: 3.5rem;
    width: 700px;
    margin-bottom: 50px;
  }

  .title p {
    font-size: 1.2rem;
    width: 600px;
    margin-bottom: 1px;
  }
}




/* Large smartphones and portrait-oriented tablets: 481px to 767px */
@media screen and (max-width: 768px) {
  .hero-section {
      height: 22rem;
    
    }
  
  .title h1 {
    font-size: 3rem;
    width: 300px;
  }

  .title p {
    font-size: 1.0rem;
    width: 280px;
    margin-bottom: 1px;
  }
}

/* Small smartphones and landscape-oriented phones: 320px to 480px */
@media screen and (max-width: 480px) {
  .hero-section {
      height: 20rem;
    
    }
  
  .title h1 {
    font-size: 2.2rem;
    width: 300px;
  }

  .title p {
    font-size: 1.0rem;
    width: 280px;
    margin-bottom: 1px;
  }
 
} 