.hero-section {
  position: relative;
  height: 55vh;
  display:flex;
  justify-content: center;
  align-items:flex-start;
  
}

.hero-section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; /* adjust the opacity as needed */
  
}

.title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  
}

.title h1 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.2;
  word-break:normal;
  color: white;
  margin-bottom: 0.5rem;
  width: 55%;
}

.title p {
  color: white;
  font-size: 1.8rem;
  margin-top: 0.5rem;
  text-align: center;
}

/* Desktops and laptops: 1024px and up */
@media screen and (min-width: 1024px){
  .hero-section {
      height: 30rem;
    
    }
  
  .title h1 {
    font-size: 4.0rem;
    width: 570px;
  }

  .title p {
    font-size: 1.4rem;
    width: 100%;
  }
}

/* Tablets and small laptops: 768px to 1023px */
@media screen and (max-width: 1023px){
  .hero-section {
      height: 22rem;
    
    }
  
  .title h1 {
    font-size: 2.8rem;
    width: 600px;
  }

  .title p {
    font-size: 1.2rem;
    width: 100%;
  }
}




/* Large smartphones and portrait-oriented tablets: 481px to 767px */
@media screen and (max-width: 768px) {
  .hero-section {
      height: 22rem;
    
    }
  
  .title h1 {
    font-size: 2.5rem;
    width: 300px;
  }

  .title p {
    font-size: 1.2rem;
    width: 340px;
  }
}

/* Small smartphones and landscape-oriented phones: 320px to 480px */
@media screen and (max-width: 480px) {
  .hero-section {
      height: 20rem;
    
    }
  
  .title h1 {
    font-size: 2.2rem;
    width: 300px;
  }

  .title p {
    font-size: 1.0rem;
    width: 320px;
  }
} 