.navbar {
  display: flex;
  justify-content: space-around;
}

/* Global styles */



body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* Responsive layout */

@media (min-width: 768px) {
  /* Styles for tablet and desktop screens */
 
}

@media (min-width: 992px) {
  /* Styles for desktop screens */
  
}

@media (min-width: 1200px) {
  /* Styles for large desktop screens */
 
}
