.test-log {
    background-color: bisque;
    width: 50%;
    margin: 50px auto;
}

.search-container {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    max-width: 900px;
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    font-family: "arial";
}

.select-container {
    display: flex;
    justify-content: center;

}

.select-container button {
    background-color: #3A5295;
    color: white;
    padding: .5rem 1rem;
    border: none;
    border-radius: .5rem;
}

.select {
    width: 300px;
    overflow: visible;
}

img {
    max-width: 500px;
}

@media screen and (max-width: 820px) {

    .select-container {
        display: flex;
        flex-direction: column;
        margin: 0 1rem;
    }

    .select {
        width: 100%;
        margin-bottom: 1rem;
    }

    .select-container button {
        min-width: 30%;
        margin: 0 auto;
    }
}