.search-container {
    background-color: grey;
    padding: 10px;
    border-radius: 10px;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-family: "arial";
}

.select-container {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.select {
    min-width: 200px;
}

.search-container button {
    background-color: rgb(67, 67, 233);
    color: white;
    border: none;
    padding: 0 40px;
    border-radius: 10px;
}